.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}
body{
  background-color: #2E5077;
  color: #79D7BE;
  text-transform: capitalize;
}
input {
  padding: 8px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 18px;
  margin: 10px;
  margin-bottom: 30px;
}
.boxes{
  background-color: #4DA1A9;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
}
.box{
  border-radius: 10px;
  font-weight: bolder;
  color: black;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #F6F4F0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e4e1e1;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #F6F4F0;
  color: rgb(9, 9, 9);
  border: 1px solid grey;
  padding: 7px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
} 

